hadoop-1.0.4/build/**/*
hadoop-1.0.4/build/*.jar
hadoop-1.0.4/logs/**/*
hadoop-1.0.4/hdfs/tmp/**/*
hadoop-1.0.4/src/docs/**/*
hadoop-1.0.4/src/native/INSTALL
hadoop-1.0.4/src/native/Makefile.in
hadoop-1.0.4/src/native/aclocal.m4
hadoop-1.0.4/src/native/config.h.in
hadoop-1.0.4/src/native/config/config.guess
hadoop-1.0.4/src/native/config/config.sub
hadoop-1.0.4/src/native/config/depcomp
hadoop-1.0.4/src/native/config/install-sh
hadoop-1.0.4/src/native/config/ltmain.sh
hadoop-1.0.4/src/native/config/missing
hadoop-1.0.4/src/native/configure



